# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
genetic_algorithm
genetic

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst

# IDEA
*.iml
.idea

# Ignore files
*.png
*.jpeg
*.jpg

# Tmp files
*.swp
dub.selections.json
